.y.axis, .x.axis text {
	font-size: 10px;
}

.zp {
  fill: none;
  stroke: rgb(254,204,92);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

article, footer {
    margin-left: 1em;
}


#logo {
    display: block;
    background-color: #2A2F4E;
}


#map path {
  stroke: black;
}

#slider {
  width: 740px;
  margin-bottom: 1em;
  margin-left: 30px;
}

#slider line {
  fill: green;
  stroke: green;
  stroke-width: 2px;
  opacity: .9;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#map circle {
  stroke: black;
  stroke-width: 1px;
  }
.text {
  width: 800px;
  margin-bottom: 3em;
}
