/* http://www.w3schools.com/css/css_table.asp */

table, th, td {
  border: 1px solid black;
}

thead {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px;
}

#map .y.axis, .x.axis text {
	font-size: 10px;
}

#svodka .y.axis, .x.axis text {
	font-size: 12px;
}

.zp {
  fill: none;
  stroke: rgb(254,204,92);
}

body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}

article, footer {
    margin-left: 1em;
    max-width: 800px
}


#logo {
    display: block;
    background-color: #2A2F4E;
}


#map path {
  stroke: black;
}

#slider {
  width: 740px;
  margin-bottom: 1em;
  margin-left: 30px;
}

#slider line {
  fill: green;
  stroke: green;
  stroke-width: 2px;
  opacity: .9;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#map circle {
  stroke: black;
  stroke-width: 1px;
  }
.text {
  width: 800px;
  margin-bottom: 3em;
}

#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 5px;
  background-color: white;
  pointer-events: none;
  border: 1px solid black;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-size: 10px;
  
}

#table {
  margin-bottom: 3em;
  
}
#impressum {
  margin-top: 2em;
}
